<h1>Contact</h1>

<%= form_for @message, url: contact_path do |message_form| %>
  <fieldset>
    <p>
      <div class="field">
        <%= message_form.label :name %><br />
        <%= message_form.text_field :name %>
      </div>
    </p>
    
    <p>
      <div class="field">
        <%= message_form.label :email %><br />
        <%= message_form.email_field :email %>
      </div>
    </p>

    <p>
      <div class="field">
        <%= message_form.label :message %><br />
        <%= message_form.text_area :content, :size => "50x10"%>
      </div>
    </p>
  </fieldset>
  
  <fieldset>
    <div class="field">
      <%= message_form.submit "Send", class: "btn btn-success" %>
    </div>
  </fieldset>
<% end %>