<div class="container">
  <h2>Here are all your current shortened urls:</h2>
  <table id="links" class="table table-striped">
    <thead>
      <tr>
        <th>URL</th>
        <th>Short URL</th>
        <th>Clicks</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @listall.each do |list| %>
        <tr>
          <td><%= best_in_place list, :url, :as => :input, :value => list.url, :ok_button => 'Save', :cancel_button => 'Cancel', :display_with => :truncate, :helper_options => {:length => 60} %></td>
          <td><%= link_to root_url.to_s + list.short.to_s, root_url.to_s + list.short.to_s %></td>
          <td><%= list.count %></td>
          <td><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>