<%= form_for @shortened_url do |form| %>
<h1>URL Shortner</h1>
  <% if @shortened_url.errors[:url].any? %>
    <p class='alert alert-danger'>
      The given url <%= @shortened_url.errors[:url].to_sentence %>.
    </p>
  <% end %>
 
  <p>
    <%= form.label :url, "Your URL:" %>
    <%= form.text_field :url, :value => "http://", :size=>"60", :onclick => 'this.select();' %>
  </p>

	<%= form.submit "Shorten my URL", class: "btn btn-success btn-lg" %>

<% end %>