<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <p>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  </p>
  <p>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </p>
  <% if devise_mapping.rememberable? -%>
    <p>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    </p>
  <% end -%>
  <p>
    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-success" %>
    </div>
  </p>  
<% end %>

<p>
<%= render "devise/shared/links" %>
</p>