<div class="container">
  <h2>Here are all the users:</h2>
  <table id="users" class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Last Login</th>
        <th>Last IP</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.last_sign_in_at %></td>
          <td><%= user.last_sign_in_ip %></td>
          <td><%= link_to "View Links", admin_user_path(user.id) %></td>
      <% end %>
    </tbody>
  </table>
</div>