<h2>Search</h2>
<%= form_tag(admin_search_results_path, :method => "get", id: "search-form") do %>
	<%= select_tag(:type, options_for_select([['Email', "email"], ['User ID', "id"], ['Short URL', "short"]], selected: params[:type] )) %>
  <%= text_field_tag :search, params[:search], placeholder: "Search for..." %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-success"%>
<% end %>

