<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "FW.GG", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <% if user_signed_in? %>
  						<li><%= link_to "My Links", list_path %></li>
              <li><%= link_to "My Account", edit_user_registration_path %></li>
  						<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
						<% else %>
  						<li><%= link_to('Sign In', new_user_session_path)  %></li>
  						<li><%= link_to('Sign Up', new_user_registration_path)  %></li>
						<% end %>
            <%if current_user.try(:admin?) %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Admin <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Search", admin_search_path %></li>
                  <li><%= link_to "User Admin", admin_users_path %></li>
                  <li><%= link_to "Link Admin", admin_links_path %></li>
                </ul>
              </li>    
            <% end %>
          </ul>
        </nav>
      </div>
</header>