<!DOCTYPE html>
<html>
<head>
  <title>URL Shortner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container center">

<% if flash[:shortened_short].present? %>
  <p class='alert alert-success'>
    The shortened url is available here: <%= link_to root_url + flash[:shortened_short], root_url + flash[:shortened_short] %>
  </p>
<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>
</div>

</body>
</html>
